html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 1000px;
    background: url('img/field1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.container-satu {
    width: 800px;
    margin: 50px auto;
    background-color: grey;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.sidebar-satu {
    width: 20%;
    padding: 10px;
    order: 1;
    background-color: #f9fcfb;
}

.kolom-utama {
    width: 55%;
    padding: 10px;
    order: 2;
    background-color: #f06553;
}

.sidebar-dua {
    width: 20%;
    padding: 10px;
    order: 3;
    background-color: #f9fcfb;
}
